<!DOCTYPE html>
<html>

  <head>
<script src="/resources/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/bootstrap-4.5.3-dist/css/bootstrap.min.css" >
<link rel="stylesheet" href="/resources/css/SiteCSS.css" media="screen" type="text/css">
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
<script src="/resources/js/app.js"></script>
  </head>

   
     
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color: #231f20;">
        <div>
         <a class="navbar-brand" href="/resources/views/Homepage.html"><img src="/resources/Imgs/GetAttachmentThumbnail.png" width="60" height="60" loading="Lazy"/> My Neighbour Bakes</a>
        </div> 
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
       
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="/resources/views/Cakes.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Cakes
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="#">Action</a>
                   <a class="dropdown-item" href="#">Another action</a>
                   <div class="dropdown-divider"></div>
                   <a class="dropdown-item" href="#">Something else here</a>
                 </div>
               </li>
            
                   
           </ul>
           <div class="form-inline my-2 my-lg-0">
             <ul class="navbar-nav mr-auto">
                 <li class="nav-item ">
                     <a class="nav-link" href="/resources/views/Homepage.html#aboutus">About US<span class="sr-only"></span></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" href="/resources/views/ContactUs.html">Contact US</a>
                   </li>
             </ul>
           </form>
         </div>
       </nav>  


    
<div class="container ">
  <div class="row">
  <div class="col-md-6">
<img src="/resources/Imgs/0.jpeg" alt="" style="height: 500px; width: 500px;" >
</div>
<div class="col-md-6" style="margin-top: 30px;">
  <h5>Confetti Mess Cake</h5>
  <h5>$57.30</h5>
  <p >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <div class="btn-group " style="margin-top: 10px; margin-bottom: 20px;">
    <div class="btn-group" style="margin-left: 10px;">
      <select class="btn btn-dangerr" name="toppers" id="topper">
        <option value="flower">Select Size ----------------------------------------------- Choose</option>
        <option value="ball">Cake balls</option>
        <option value="choco">Chocolate strawberries</option>
        <option value="none">None</option>
      </select>
    </div>
  </div>
  
 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Toppers</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">lettering</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Candles</a>
            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Flowers</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
           <div class="row">
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 15px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
           </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 15px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
           </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 15px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
           </div>
          </div>
          <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
            <div class="row">
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 15px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
              <img src="/resources/Imgs/cakes.jpg" style="margin-top: 3px; margin-left: 10px; height: 120px; width: 120px;"/>
           </div>
          </div>
        </div>      
      </div>
    </div>
    <p>(Please let us know any additional customization you want & we will let you about the price impact)</p>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Write to us</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <label>Quantity :</label>
    <input type="number">
    <label> Grand Total :</label>
    <label> $00000</label>
    <br/>
    <button style="margin-top: 20px;" type="button" class="btn btn-dangerr" data-toggle="modal" data-target="#myModal" data-target=".bd-example-modal-lg">
      Add to Cart
    </button> 
</div>
</div>
</div>
    </div>   
    </div>  
    <div class="container">
    
      <!-- The Modal -->
      <div class="modal bd-example-modal-lg" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add to Cart</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div class="card" >
                <img class="card-img-top" src="/resources/Imgs/cake 2.jpeg" style="height: 150px; width: 150px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Coffetti Cake</h5>
                  <p>Cake Size: 
                    6” Inch diameter (14 finger slices)</p>
                  <p>Toppers & Toys: 
                    Gold Candle ($2.50) $2.50</p>
                  <p class="card-text">$57.30</p>
                <p>Quantity : 1</p>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <div class="card" >
                <img class="card-img-top" src="/resources/Imgs/cake 2.jpeg" style="height: 150px; width: 150px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Coffetti Cake</h5>
                  <p>Cake Size: 
                    6” Inch diameter (14 finger slices)</p>
                  <p>Toppers & Toys: 
                    Gold Candle ($2.50) $2.50</p>
                  <p class="card-text">$57.30</p>
                <p>Quantity : 1</p>
                </div>
              </div>
            </div>
            
             <div class="col-md-6">
            <label >Sub Total : $000000</label>
             </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              
              <a type="button" href="/resources/views/Checkout.html" class="btn btn-dangerr" >Proceed to Checkout</a>
            </div>
            
          </div>
        </div>
      </div>
    
</div>
</div>
</div>




   </body>
</html>
