<h1>Hello</h1>

<div class="row" style="margin-left: 10px;">
    <div class="btn-group" style="margin-top: 10px;">
    <select class="btn btn-danger" name="toppers" id="topper">
      <option value="flower">Flowers</option>
      <option value="ball">Cake balls</option>
      <option value="choco">Chocolate strawberries</option>
      <option value="none">None</option>
    </select>
  </div>
    
  <div class="btn-group" style="margin-top: 10px; margin-left: 10px;">
    <select class="btn btn-danger" name="toppers" id="topper">
      <option value="flower">Flowers</option>
      <option value="ball">Cake balls</option>
      <option value="choco">Chocolate strawberries</option>
      <option value="none">None</option>
    </select>
  </div>

  </div>
<div class="row" style="margin-left: 10px;">
    <div class="btn-group" style="margin-top: 10px; ">
    <select class="btn btn-danger" name="toppers" id="topper">
      <option value="flower">Flowers</option>
      <option value="ball">Cake balls</option>
      <option value="choco">Chocolate strawberries</option>
      <option value="none">None</option>
    </select>
  </div>
  <div class="btn-group" style="margin-top: 10px; margin-left: 10px;">
    <select class="btn btn-danger" name="toppers" id="topper">
      <option value="flower">Flowers</option>
      <option value="ball">Cake balls</option>
      <option value="choco">Chocolate strawberries</option>
      <option value="none">None</option>
    </select>
  </div>

<link href="{{ asset('/bootstrap-4.5.3-dist/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('/resources/css/SiteCSS.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ asset('/') }}"></script>
